.s_about
    position: relative

    padding-top: 91px
    padding-bottom: 39px
    +r(1499)
        padding-top: 150px
    +r(767)
        padding-top: 100px
    &__decor-one
        position: absolute
        left: 0
        top: 0

        width: 100%
        max-width: 625px
        height: 758px
        svg, img
            display: block
            width: 100%
            height: 100%
            max-width: 100%
            max-height: 100%
    &__decor-two
        position: absolute
        right: 0
        top: 100px

        width: 100%
        max-width: 700px
        height: 827px
        svg, img
            display: block
            width: 100%
            height: 100%
            max-width: 100%
            max-height: 100%
        +r(1023)
            right: initial
            left: 0
            top: 460px
    &__decor-three
        position: absolute
        right: 0
        bottom: -300px

        width: 100%
        max-width: 1300px
        height: 925px
        svg, img
            display: block
            width: 100%
            height: 100%
            max-width: 100%
            max-height: 100%
    &__decor-circle
        position: absolute
        z-index: 4

        display: block

        +r(1023)    
            display: none
        &--large
            top: 609px
            left: 50%

            width: 47px
            height: 47px

            transform: translateX(153%)
        &--middle
            right: 69px
            top: 137px

            width: 25px
            height: 25px
        &--small
            left: 91px
            bottom: 180px

            width: 17px
            height: 17px
            +r(1700)
                left: 40px
    &__inner-circle
        width: 100%
        height: 100%
        
        background: $blue
        box-shadow: 10px 10px 50px rgba(14, 55, 204, 0.5)
        border-radius: 50%
    &__title
        margin-bottom: 18px
        +r(1023)
            text-align: center
    &__item
        margin: 0 -60px
        align-items: center
        padding-bottom: 34px
        +r(1499)
            margin: 0 -50px
        +r(1023)
            flex-direction: column
            align-items: center
            margin: -10px 0
        &:first-child
            padding-bottom: 80px
        &:last-child
            padding-bottom: 0
        &:nth-child(2n)
            .s_about__img-wrap
                order: -1
                +r(1023)
                    order: 1
    &__img-wrap
        +r(1023)
            display: flex
            align-items: flex-start
            justify-content: center
    &__item-col
        width: 50%
        padding: 0 60px
        +r(1499)
            padding: 0 50px
        +r(1023)
            width: 100%
            padding: 10px 0
    &__text
        max-width: 610px
        margin-bottom: 40px
        &:last-child
            margin-bottom: 0
        +r(1023)
            max-width: none
            margin-bottom: 20px
    &__list
        margin-top: 32px
        max-width: 580px
    &__list-item
        padding-left: 40px
        position: relative

        margin-bottom: 35px
        +r(1499)
            margin-bottom: 30px
        +r(1023)
            padding-left: 23px
        &:last-child
            margin-bottom: 0
        &::after
            content: ''
            position: absolute
            left: 0
            top: 50%

            display: block
            width: 10px
            height: 10px

            border-radius: 50%
            background: $blue

            transform: translateY(-50%)
            +r(1023)
                top: 5px
                transform: none
