.s_adwantages
    position: relative

    padding-top: 75px
    padding-bottom: 150px
    overflow: hidden
    +r(1023)
        padding-top: 50px
        padding-bottom: 100px
    &__decor
        position: absolute
        left: 0
        top: 0

        width: 100%
        max-width: 765px
        height: 100%
        height: 836px
        +r(1499)
            height: 610px
    &__decor-img
        width: 100%
        display: block
        max-width: 100%
        height: 100%
        max-height: 100%
    &__header
        margin-bottom: 53px

        text-align: center
        +r(1023)
            margin-bottom: 20px
    &__wrap
        margin: 0 -48px
        +r(1499)
            margin: 0 -10px
        +r(1023)
            flex-direction: column
            align-items: center
            margin: -10px 0
    &__item
        padding: 0 48px
        width: calc(100% / 3)

        text-align: center
        +r(1499)
            padding: 0 10px
        +r(1023)
            padding: 10px 0
            width: 100%
    &__img-wrap
        max-width: 128px
        width: 100%
        margin: auto
        height: 134px
        margin-bottom: 45px
    &__img
        width: 100%
        max-width: 100%
        height: 100%
        max-height: 100%
        display: block
    &__subtitle
        margin-bottom: 21px
        
        font-size: 18px
        font-weight: 800