.s_clients
    padding-top: 150px
    padding-bottom: 150px
    +r(1023)
        padding-top: 100px
        padding-bottom: 50px
    &__header
        margin-bottom: 50px

        text-align: center
        +r(1023)
            margin-bottom: 20px
    &__title
        margin-bottom: 30px
        +r(1023)
            margin-bottom: 20px
    &__subtext
        max-width: 610px
        margin: auto
    &__wrap-items
        display: flex
        justify-content: center
        align-items: flex-start
    &__wrap
        flex-wrap: wrap
        margin: -17px -52px
        align-items: stretch
        max-width: 1100px
        justify-content: center
        +r(1023)
            margin: -10px
    &__item
        padding: 17px 52px
        width: calc(100% / 3)
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: center

        text-align: center
        +r(1023)
            width: 50%
            padding: 10px
    &__img-wrap
        width: 100%
        margin-bottom: 20px
    &__img
        margin: auto
    &__descr
        // margin-top: auto
        +r(1023)
            font-size: 13px