.s_contacts
    padding-top: 75px
    padding-bottom: 150px
    div.wpcf7-response-output
        position: fixed
        top: 67px
        left: 0
        z-index: 11

        width: 100%
        padding: 1em
        margin: 0
        border: 0
        box-shadow: 0px 0px 33px 1px rgba(0, 0, 0, 0.36)
        animation-name: pullOut
        animation-duration: 2sgulp
        animation-delay: 3s
        animation-fill-mode: both

        text-align: center
        color: $white
        line-height: 50px
        font-weight: 700
        +r(767)
            top: 62px
            font-size: 12px
            padding: 0.5em
            animation-name: pullOutMobile
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing
        background: #e34040
        border: 2px solid #d93535
    div.wpcf7-mail-sent-ok
        border: 2px solid #00d75a
        background: #00d75a
    +r(1023)    
        padding-top: 50px
        padding-bottom: 100px
    &__wrap
        align-items: center
        +r(1023)
            flex-direction: column
            align-items: center
    &__title
        margin-bottom: 30px
        +r(1023)    
            text-align: center
    &__text-wrap
        max-width: 370px
        width: 100%
        margin-right: 40px
        +r(1023)    
            margin-right: 0
            margin-bottom: 20px
    &__form-wrap
        width: 100%
        max-width: 600px
        padding: 50px

        background: rgba(236, 236, 236, 0.5)
        border-radius: 50px
        +r(1023)
            padding-left: 10px
            padding-right: 10px
    &__subtitle
        margin-bottom: 31px

        font-size: 18px
        line-height: 1.8em
        +r(1023)    
            font-size: 14px
            text-align: center
    &__form
        width: 100%
        .site-input
            position: relative
            margin-bottom: 10px
        .s_contacts__pre
            margin-bottom: 30px
    &__btn-wrap
        display: flex
        align-items: flex-start
        justify-content: center
        .site-button
            font-size: 18px
            padding: 16px 64px




@keyframes pullOut
    from
        top: 67px
        opacity: 1
    to
        top: -200px

@keyframes pullOutMobile
    from
        top: 62px
        opacity: 1
    to
        top: -200px