.s_features
    padding-top: 75px
    padding-bottom: 75px
    +r(1023)
        padding-bottom: 50px
    &__header
        text-align: center
        margin-bottom: 52px
        +r(1023)
            margin-bottom: 20px
    &__wrap
        position: relative

        margin: 0 -25px
        &::after
            content: ''
            position: absolute
            top: 0
            left: 50%

            width: calc(100% - 51px)
            height: 1px
            display: block

            background: #AFAFAF
            transform: translateX(-50%)
            +r(1023)
                display: none
        +r(1023)
            flex-direction: column
            align-items: center
            margin: 0
    &__item
        padding: 0 25px
        width: calc(100% / 3)
        &:last-child
            margin-right: 0
            +r(1023)
                .s_features__inner-text
                    &::after
                        display: none
        +r(1023)
            width: 100%
            padding: 0
    &__text
        +r(1023)
            padding-left: 27px
    &__inner-text
        position: relative
        +r(1023)
            padding-bottom: 25px
        &::after
            content: ''
            position: absolute
            top: 8px
            left: 0

            width: 1px
            height: 100%
            display: none

            background: #AFAFAF
            +r(1023)
                display: block
    &__subtitle
        position: relative

        padding-top: 30px
        margin-bottom: 17px
        span
            display: block
            font-family: inherit
            color: inherit
            font-size: inherit
            font-weight: inherit
        +r(1023)    
            padding-top: 0
            padding-left: 27px
        &::after
            content: ''
            position: absolute
            z-index: 2
            top: -8px
            left: 0

            display: block
            width: 17px
            height: 17px

            border-radius: 50%
            background: $blue
            +r(1023)
                top: 50%
                left: -8px

                transform: translateY(-50%)