.s_footer
    padding: 39px 0
    background: $blue
    +r(1199)    
        padding-top: 31px
        padding-bottom: 17px
    &__wrap
        align-items: center
        .link-hover::after
            background: $white
        +r(1199)    
            flex-direction: column
            align-items: center
    &__menu-wrap
        margin-right: 40px
        +r(1199)
            display: none
    &__menu
        display: flex
        align-items: center  
        justify-content: flex-start
    &__menu-item
        display: block
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__link
        display: block
        color: $white
        font-size: 18px
        font-weight: 500
        text-decoration: none
        &--tel
            margin-right: 34px
            +r(1499)
                margin-right: 27px
            +r(1199)    
                margin-right: 0
                margin-bottom: 17px
    &__right
        max-width: 400px
        width: 100%
        align-items: center
        +r(1199)    
            flex-direction: column
            align-items: center
    &__copy
        color: $white
        font-weight: 500