.s_header
  position: fixed
  top: 0
  left: 0
  z-index: 10

  width: 100%
  padding-top: 10px
  padding-bottom: 10px

  background: $white
  .container
    max-width: 1896px
  &__wrap
    align-items: center
  &__left
    align-items: center
    margin-right: 30px
  &__nav
    +r(1199)
      position: fixed
      top: 0
      right: -100%
      z-index: 9

      width: 100%
      min-height: 100vh
      height: 100%
      overflow-y: auto
      visibility: hidden
      display: flex
      flex-direction: column
      align-items: flex-start
      opacity: 0

      background: $white

      transition: all .6s ease
    &--open
      right: 0
      visibility: visible
      opacity: 1
      .s_header__menu-item
        opacity: 1
        visibility: visible
      +r(767)
        .js-mob-delay
          opacity: 1
          transition: all .6s ease
          visibility: visible
    &--close
      +r(767)
        .js-mob-delay
          transition: none
  &__menu-wrap
   +r(1199)
     width: 100%
     height: 100%
     display: flex
     flex-direction: column
     align-items: center
     justify-content: center
     padding: 60px
  &__logo
    width: 100%
    max-width: 100px
    height: 42px
    margin-right: 100px
    +r(1499)
      margin-right: 34px
  &__btn
    +r(767)
      opacity: 0
      visibility: hidden
  &__menu
    align-items: center
    +r(1199)
      flex-direction: column
      align-items: center
      width: 100%
    +r(767)
      margin-bottom: 40px
  &__menu-item
    display: block
    margin-right: 50px
    &:last-child
      margin-right: 0
      +r(1199)
        margin-bottom: 0
    +r(1499)
      margin-right: 30px
    +r(1199)
      margin-right: 0
      margin-bottom: 30px
      opacity: 0
      visibility: hidden
      transition: all .6s ease
    .js-menu
      &.active
        &::after
          width: 100%
  &__menu-link
    display: block
    
    text-decoration: none
    font-size: 18px
    font-weight: 500
  &__logo-img
    max-width: 100%
    width: 100%
    height: 100%
    max-height: 100%
  &__right
    align-items: center
    +r(1199)
      width: 100%
      max-width: 434px
    +r(767)
      max-width: 40px
    .site-button
      +r(1199)
        margin-right: 30px
      +r(767)
        margin-right: 0
        opacity: 0
        visibility: hidden
  &__link
    display: block
    margin-right: 49px
    
    font-size: 18px
    font-weight: 500
    text-decoration: none
    +r(1499)
      margin-right: 30px
    +r(767)
      margin-right: 0
      margin-bottom: 20px
      opacity: 0
      visibility: hidden
  &__burger
    position: relative
    z-index: 6

    width: 100%
    max-width: 40px
    height: 19px
    display: none

    cursor: pointer
    +r(1199)
      display: block
    &--open
      .s_header__burger-line--one
        transform: rotate(45deg)
        top: 50%
      .s_header__burger-line--two
        opacity: 0
      .s_header__burger-line--three
        transform: rotate(-45deg)
        top: 50%
  &__burger-line
    position: absolute

    display: block
    width: 100%
    height: 3px
    background: $black
    +trs()
    &--one
      top: 0
    &--two
      top: 8px
    &--three
      bottom: 0