.s_hero
    width: 100%
    min-height: 100vh
    height: 100%
    display: flex
    padding: 70px 0

    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    +r(1199)
        padding-top: 100px
        padding-bottom: 100px
    .container
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__wrap
        width: 100%
        align-items: center
    &__text-wrap
        width: 100%
        max-width: 677px
        margin-right: 179px
        +r(1499)
            margin-right: 39px
    &__title
        margin-top: 0
        margin-bottom: 13px
    &__text
        margin-bottom: 30px

        font-size: 18px
        +r(767)
            font-size: 14px
            line-height: 1.8em
    &__btn
        padding: 16px 64px
        font-size: 18px
    &__img-wrap
        position: relative

        width: 100%
        max-width: 677px
        +r(1199)
            display: none
    &__inner-img-wrap
        position: absolute
        bottom: -10px
        right: -44px

        width: 100%
        max-width: 199px
        +r(1499)
            right: 0