.s_units
    padding-top: 80px
    padding-bottom: 80px

    background: #F4F4F4
    +r(1023)
        padding-top: 50px
        padding-bottom: 50px
    &__header
        margin-bottom: 25px

        text-align: center
    &__list
        margin: auto
        width: 100%
        max-width: 575px
    &__item
        padding-left: 40px
        position: relative

        margin-bottom: 6px
        &:last-child
            margin-bottom: 0
        &::after
            content: ''
            position: absolute
            left: 0
            top: 5px

            display: block
            width: 10px
            height: 10px

            border-radius: 50%
            background: $blue