@import 'config/vars'


.site-button
  position: relative

  display: inline-block
  padding: 13px 33px

  font-size: 14px
  line-height: 40px
  font-family: 'Gotham Pro', sans-serif
  font-weight: 800
  text-transform: uppercase
  white-space: nowrap
  color: $white
  cursor: pointer
  text-align: center
  text-decoration: none
  overflow: hidden
  border-radius: 10px

  background-color: $blue

  +trs()
  touch-action: manipulation
  span
    position: relative
    z-index: 2

    display: block
    color: inherit
    font-weight: inherit
    font-size: inherit
    font-family: inherit
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    z-index: 1

    width: 100%
    height: 0
    display: block

    background: #1d327b
    border-radius: 10px

    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s
  &:hover, &:active, &:focus
    outline: none
    &::before
      height: 100%
      top: 0
      bottom: auto