// Add your settings here
@import 'config/vars'

.body-overflow
  overflow: hidden

main
  position: relative
  z-index: 2

footer
  z-index: 3
  position: relative

body
  overflow-x: hidden
.s_section
  padding: 80px 0

.container
  max-width: 1713px
  width: 100%
  position: relative
  margin: 0 auto
  padding: 0 90px
  +r(1499)
    padding: 0 50px
  +r(767)
    padding: 0 20px


*
  box-sizing: border-box
  margin: 0
  padding: 0

button, a
  outline: none
  +trs()

button
  display: inline-block
  background-color: transparent
  cursor: pointer
  border: 0

a
  display: block

img
  display: block
  max-width: 100%
  height: auto


.obj-img
  position: absolute
  top: 0
  left: 0

  width: 100%
  height: 100%
  object-fit: cover


b,
strong
  font-weight: 700

ul
  list-style: none


.fw
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-between
  align-items: flex-start

label.error
  display: none
  position: absolute
  top: calc(100% - -4px)
  right: 0
  color: red
  font-size: 14px
  font-weight: 400
  text-align: right
  font-size: 12px
  z-index: 5


.link-hover
  position: relative
  &::after
    content: ''
    position: absolute
    bottom: -3px
    left: 0

    width: 0
    height: 2px

    background: $blue
    +trs()
  &:hover
    &::after
      width: 100%


.site-input
  width: 100%
  display: block
  &__item
    width: 100%
    display: block
    height: 60px
    line-height: 60px
    padding: 0 20px

    color: $black
    border-radius: 20px
    font-size: 14px
    font-family: 'Gotham Pro', sans-serif
    font-weight: 800

    border: 1px solid #BBBEC7
    background: $white
    +trs()
    &:focus
      outline: none
    +placeholder
      font-family: 'Gotham Pro', sans-serif
      color: #999999
      border-radius: 20px
      font-size: 14px
      font-weight: 800