@font-face
	font-family: 'Gotham Pro'
	src: url( ../fonts/GothamPro/GothamPro-Light.ttf), url(../fonts/GothamPro/GothamPro-Light.woff), url(../fonts/GothamPro/GothamPro-Light.woff2)
	font-weight: 300
  
@font-face
	font-family: 'Gotham Pro'
	src: url( ../fonts/GothamPro/GothamPro.ttf), url(../fonts/GothamPro/GothamPro.woff), url(../fonts/GothamPro/GothamPro.woff2)
	font-weight: 400

@font-face
	font-family: 'Gotham Pro'
	src: url( ../fonts/GothamPro/GothamPro-Medium.ttf), url(../fonts/GothamPro/GothamPro-Medium.woff), url(../fonts/GothamPro/GothamPro-Medium.woff2)
	font-weight: 500

@font-face
	font-family: 'Gotham Pro'
	src: url( ../fonts/GothamPro/GothamPro-Bold.ttf), url(../fonts/GothamPro/GothamPro-Bold.woff), url(../fonts/GothamPro/GothamPro-Bold.woff2)
	font-weight: 700

@font-face
	font-family: 'Gotham Pro'
	src: url( ../fonts/GothamPro/GothamPro-Black.ttf), url(../fonts/GothamPro/GothamPro-Black.woff), url(../fonts/GothamPro/GothamPro-Black.woff2)
	font-weight: 800
  
  
  
*
  line-height: 1em
  font-weight: 400
  color: $black
  font-size: 14px
  font-family: 'Gotham Pro', sans-serif


h1, .h1
  font-size: 48px
  color: $black
  font-weight: 800
  line-height: 1.5em
  +r(1023)
    font-size: 36px
    line-height: 1.3em

h2, .h2
  font-size: 48px
  color: $black
  font-weight: 800
  line-height: 1.3em
  margin-top: 0
  +r(1023)
    font-size: 36px

h3, .h3
  font-size: 24px
  font-weight: 800
  line-height: 1.3em

h1,h2,h3,h4,h5,h6
  margin-bottom: 1em
  &:last-child
    margin-bottom: 0

p,span
  line-height: 1.5em
  font-size: 14px


ul

ol

.typography
  p
    margin-bottom: 42px
    &:last-child
      margin-bottom: 0
  a
    display: inline
    line-height: 2em
    text-decoration: none
    &:hover
      color: $blue
  &::after
    content: ''
    display: table
    clear: both
  .align-right
    float: right
    margin-left: 20px
    margin-bottom: 5px
    max-width: 50%
    +r(639)
      max-width: 100%
      float: none
      margin: auto
      margin-bottom: 16px
  .align-left
    float: left
    margin-right: 20px
    margin-bottom: 5px
    max-width: 50%
    +r(639)
      max-width: 100%
      float: none
      margin: auto
      margin-bottom: 16px

  h1,h2,h3,h4,h5,h6
  p
  a
    transition: all 0.2s ease
    &:hover
